nav {
  h2 {
    text-align: left;
  }
}

#main {
  margin-top: 10px;
}

#game-board {
  ul {
    list-style-type: none;
    li {
      float: left;
      margin-right: 10px;
    }
  }

  h2.winner {
    color: green;
  }

  h2.loser {
    color: red;
  }
}
